[Unit]
Description=Run t265 camera
After=redis.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=steve
EnvironmentFile=/etc/mycelium/env_file.conf
ExecStart=/usr/bin/env python3 /home/steve/gmv_work/arsh/mycelium/scripts/run_t265.py

[Install]
WantedBy = multi-user.target
