[Unit]
Description=Send instrument data from redis to ArduPilot
Requires=redis.service
Requires=mavlink-router.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=robot
EnvironmentFile=/etc/mycelium/env_file.conf
ExecStart=/usr/bin/env python3 /home/robot/swarm_demo/mycelium_agent_controller/lib/mycelium/redis_scripts/redis_to_ap.py

[Install]
WantedBy = multi-user.target
