[Unit]
Description=Run d435 camera
After=redis.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=robot
EnvironmentFile=/etc/mycelium/env_file.conf
ExecStart=/usr/bin/env python3 /home/robot/swarm_demo/mycelium_agent_controller/lib/mycelium/scripts/run_d435.py

[Install]
WantedBy = multi-user.target
